{% if file_roots %}
file_roots:
{% for key in file_roots.keys()|list %}
  {{ key }}:
  {% for value in file_roots[key] %}
  - {{ salt_root }}/{{ key }}/{{ value }}
  {% endfor %}
{% endfor %}
{% endif %}

{% if pillar_roots %}
pillar_roots:
{% for key in pillar_roots.keys()|list %}
  {{ key }}:
  {% for value in pillar_roots[key] %}
  - {{ salt_root }}/{{ key }}/{{ value }}
  {% endfor %}
{% endfor %}
{% endif %}

{% if fileserver_backend %}
fileserver_backend:
{% for item in fileserver_backend %}
  - {{ item }}
{% endfor %}
{% endif %}

{% if gitfs_provider %}
gitfs_provider: {{ gitfs_provider }}
{% endif %}

{% if gitfs_remotes %}
gitfs_remotes:
{% for item in gitfs_remotes %}
  - {{ item }}
{% endfor %}
{% endif %}

gitfs_root: salt/base/formula

ext_pillar:
  - git:
    - master https://gitlab.com/k_pakhomov/salt-test-task.git:
      - env: base
      - root: salt/base/pillar

