# vim: sts=2 ts=2 sw=2 et ai

{# import defaults.yaml as defaults #}
{% import_yaml 'users/defaults.yaml' as defaults %}

{# set Os-family specific settings #}
{% set users = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by']({
  'Debian': {
    'root_group': 'root',
    'shell': '/bin/bash',
    'visudo_shell': '/bin/bash',
    'bash_package': 'bash',
    'sudo_package': 'sudo',
  },
  'default': {
    'root_group': 'root',
    'shell': '/bin/bash',
    'visudo_shell': '/bin/bash',
    'bash_package': 'bash',
    'sudo_package': 'sudo',
    },
  }, merge=salt['pillar.get']('users-formula:lookup')),
  base='users',
) %}
